/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

/* Seção de Projetos */
#projetos {
    padding: 3rem 0;
    background-color: #fff;
}

#projetos h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.projetos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.projeto {
    background-color: #eaeaea;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.projeto h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.projeto p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.projeto a {
    font-size: 1rem;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.projeto a:hover {
    color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .projetos-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .projetos-list {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
